{% include "header_base.html" %}
{% load staticfiles %}

<div class="alert-info alert"
     style="word-wrap: break-word; word-break: normal;">
    <p><h2 class="text-center">{{ problem.title }}</h2>
    <p> <b>Expected End Time for this Hackathon:</b> {{ end_time }}</p>
    <hr>


    <div>  <!-- problem -->
        <p>{{ problem.description }}</p>
    </div>
</div>


<div id="code_area" style="height: 1200px">
    <div id="editor-mask" style="height: 1000px">
        <div id="editor-container" style="height: 1000px">
            <div id="editor">{{ problem.startCode }}</div>
            <script>
                var editor = ace.edit("editor");
                editor.setTheme("ace/theme/monokai");
                editor.getSession().setMode("ace/mode/java");
                editor.getSession().setUseWrapMode(true);
                editor.setShowPrintMargin(false);
                document.getElementById('editor').style.fontSize='14px';
            </script>
        </div>
    </div>
    <form method="post" class="form-horizontal">
        <input type="hidden" name="code" value="" id="code">
        <br>
        <button class="btn btn-primary pull-right btn-info" type="button" name="submit" value="run" style="margin-right: 50px" onmousedown="run(editor,this.form)" id="runBtn">Run Your Code</button>
        <br> <br>
        <textarea class="input-block-level" rows="5" readonly="yes" id="result"></textarea>
    </form>
</div>

<script language="JavaScript">
    // get content from editor
    function run(editor,form) {
        form.code.value = editor.getValue();
    }

	$(document).ready(function() {
        // active the navigation bar
        $("#contest").addClass("active");

		$('#runBtn').click(function() {
			$.ajax({
				type : 'POST',
				url :  '/hacks/runcode/',
                data: {'id':{{ problem.id }},
                        'code': encodeURIComponent($('#code').val()),
                        'submit': 'run'},
				cache : false,

				beforeSend : function() {
				    $('#result').html("Running......");
				},
				success : function(msg) {
				    $('#result').html(msg);
                    if (msg == "Accepted") {
					    window.location.reload();
					}
				}
			})
		})
	});
</script>


{% include "bottom_base.html" %}