            </div> <!-- /container -->

            <div id="push"></div>
        </div> <!-- /warp -->
{% load staticfiles %}
        <!-- bottom template -->
        <div id="footer">
            <div class="container">
                <p class="muted credit">Created by<a href="mailto:zhuolinl@andrew.cmu.edu"> Zhuolin Liu </a>,
                    <a href="mailto:mingleic@andrew.cmu.edu"> MingLei Chen </a>,
                    <a href="mailto:kaiyue228@gmail.com"> Kaiyue Wu </a>,
                    <a href="mailto:akaila@andrew.cmu.edu"> Ashish Kaila </a> with Twitter Bootstrap.
                    Please use Google Chrome Web Browser.</p>
            </div>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap-transition.js' %}"></script>
        <script src="{% static 'js/bootstrap-alert.js' %}"></script>
        <script src="{% static 'js/bootstrap-modal.js' %}"></script>
        <script src="{% static 'js/bootstrap-dropdown.js' %}"></script>
        <script src="{% static 'js/bootstrap-scrollspy.js' %}"></script>
        <script src="{% static 'js/bootstrap-tab.js' %}"></script>
        <script src="{% static 'js/bootstrap-tooltip.js' %}"></script>
        <script src="{% static 'js/bootstrap-popover.js' %}"></script>
        <script src="{% static 'js/bootstrap-button.js' %}"></script>
        <script src="{% static 'js/bootstrap-collapse.js' %}"></script>
        <script src="{% static 'js/bootstrap-carousel.js' %}"></script>
        <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>

    </body>
</html>